* {
    padding: 0;
    margin: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #000000f2;
}

li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

i {
    cursor: pointer;
}

.open-menu {
    transform: scale(1) !important;
}

.close-menu {
    transform: translateX(-100%) !important;
}


/*  */

.sidebar-sec {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    z-index: 55555555;
    background-color: #f8f6f6;
    text-align: center;
    transition: all 0.6s ease;
}

.logo {
    padding: 25px 0;
}

.logo img {
    height: 48px;
}

.bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar i {
    font-size: 25px;
}

.social-strip {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 11;
}

.social-strip>div {
    padding-top: 10px
}

.nav-tab-menu {
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    height: 100vh;
    z-index: 5555;
    background-color: #000;
    transform: translateX(-100%);
    transition: all 0.6s ease;
}

.nav-tab-menu ul {
    padding-left: 30px;
    height: 300px;
    overflow: hidden;
}

.nav-tab-menu li {
    padding-top: 500px;
    opacity: 0;
}

.nav-tab-menu ul li a {
    color: #f9f6f6;
    font-weight: 500;
    font-size: 16px;
}

.nav-tab-menu ul li a:hover,
.nav-social-item a:hover {
    color: #ff655c;
    transition: all 0.3s;
}

.nav-social-item {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.nav-social-item a {
    color: #f9f6f6;
    padding-left: 15px;
    font-size: 14px;
}

.nav-social-item span {
    color: #999;
}


/*  */


/* .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(100%);
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 9999999999999999999999;
}

.search .search-input {
    position: absolute;
    top: 300%;
    left: 48%;
    transform: translate(-50%, -50%);
    border: none;
    border-bottom: 2px solid #ddd;
    width: 400px;
    outline: none;
    padding: 14px;
    background-color: transparent;
}

::placeholder {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
} */


/*  */

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
    /* background-color: rgba(0, 0, 0,.5); */
    text-align: center;
    /* color: tomato; */
    color: #000;
    font-weight: 800;
    transition: all 1s;
}

.movie {
    overflow: hidden;
}

.movie:hover .layer {
    top: 0;
    transition: all 1s;
}


/*  */

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    border-radius: 0;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.form-control:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    border-radius: 0;
}


/*  */

.alert {
    display: none;
}